/* Main layout */
a[highlight] {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  padding: 0 var(--lumo-space-m);
}

.header h1.logo {
  font-size: 1em;
  margin: var(--lumo-space-m);
}

/* Theater view */
.theater-view .content {
  display: flex;
}

.theater-view .theater-grid {
  flex: 3;
}

.theater-view .theater-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .theater-view.editing .toolbar,
  .theater-view.editing .theater-grid {
    display: none;
  }
}

/* House of culture view */
.house_of_culture-view .content {
  display: flex;
}

.house_of_culture-view .house_of_culture-grid {
  flex: 3;
}

.house_of_culture-view .house_of_culture-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .house_of_culture-view.editing .toolbar,
  .house_of_culture-view.editing .house_of_culture-grid {
    display: none;
  }
}

/* Organizers view */
.organizer-view .content {
  display: flex;
}

.organizer-view .organizer-grid {
  flex: 4;
}

.organizer-view .organizer-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .organizer-view.editing .toolbar,
  .organizer-view.editing .organizer-grid {
    display: none;
  }
}

/* Impresario view */
.impresario-view .content {
  display: flex;
}

.impresario-view .impresario-grid {
  flex: 4;
}

.impresario-view .impresario-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .impresario-view.editing .toolbar,
  .impresario-view.editing .impresario-grid {
    display: none;
  }
}

/* Genre view */
.genre-view .content {
  display: flex;
}

.genre-view .genre-grid {
  flex: 4;
}

.genre-view .genre-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .genre-view.editing .toolbar,
  .genre-view.editing .genre-grid {
    display: none;
  }
}

/* Artist view */
.artist-view .content {
  display: flex;
}

.artist-view .artist-grid {
  flex: 4;
}

.artist-view .artist-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .artist-view.editing .toolbar,
  .artist-view.editing .artist-grid {
    display: none;
  }
}
